<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Webpage about me</title>
</head>

<body>
    {{> header}}123
    <ul>
        <li>The person you dream of Being. Human.</li>
        <li>Likes: Eggs, salmon, polenta</li>
        <li>Dislikes: Paint, oranges, courage</li>
        <li>Experience: Long walks</li>
        <li>Summary: Fly like a pigeon</li>
    </ul>

    {{> footer}}
</body>

</html>