<!DOCTYPE HTML>
<html>
    <head>
        <meta charset = "utf-8">
        <title>Projects I've Made</title>
    </head>
    <body>
        {{> header}}

        <p>Project 1</p>
        <p>Project 2</p>
        <p>Project 3</p>
        <p>Project 4</p>
        <p>Project 5</p>
        <p>Project 6</p>

         {{> footer}}
    </body>
</html>